{% extends 'home/base.html' %}

{% block content %}

    <div class="main-content">
        <div class="sp-popup signin accounts-page">
            <div class="btns">
                <a href="" class="active">Register</a>
                <a href="{% url 'accounts:login' %}">Login</a>
            </div>
            <div class="social">
                <div>Sign in with social account</div>
                <ul class="pp-social-list">
                    <li class="tw">
                        <a href=""><i class="fa fa-twitter"></i></a></li>
                    <li class="fb">
                        <a href=""><i class="fa fa-facebook"></i></a></li>
                    <li class="gp">
                        <a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li class="vk">
                        <a href=""><i class="fa fa-vk"></i></a></li>
                </ul>
            </div>
            <div class="pp-title"><span>or</span></div>
            <div class="form not-valid">
                <form class="registerForm" method="post" action="{% url 'accounts:register' %}">
                    {% csrf_token %}
                    {{ register_form.first_name }}
                    <p class="form-error" id="{{ register_form.first_name.id_for_label }}_error"></p>
                    {{ register_form.last_name }}
                    <p class="form-error" id="{{ register_form.last_name.id_for_label }}_error"></p>
                    {{ register_form.email }}
                    <p class="form-error" id="{{ register_form.email.id_for_label }}_error"></p>
                    {{ register_form.mobile }}
                    <p class="form-error" id="{{ register_form.mobile.id_for_label }}_error"></p>
                    {{ register_form.password }}
                    <p class="form-error" id="{{ register_form.password.id_for_label }}_error"></p>
                    <button class="btn-8 registerFormSubmitButton">Register</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}