{% load staticfiles %}
<!--TODO: Beautify HTML Code of every template-->
<header class="header-mb">
    <div class="container">
        <div class="hdm-menu">
            <a href="#mb-menu" class="c-hamburger htx js-mb-menu">
                <span>toggle menu</span>
            </a>
        </div>
        <div class="hdm-logo">
            <h1><a href="http://weblionmedia.net/"><img
                    src="{% static 'img/logo-mb.svg' %}" height="40" width="140" alt="Spectr" class="adaptive"></a></h1>
                </div>
                <div class=" hdm-search-user">
                <div class="hd-search">
                    <a href="home_style_three.html#search-block" class="st-btn-1 fa-flip-horizontal js-hd-search">
                        <i class="li_search"></i>
                    </a>
                    <div class="hd-search-block js-hd-search-block">
                        <div class="search">
                            <div class="search-input">
                                <input type="search" placeholder="Type keywords">
                            </div>
                            <div class="search-btn">
                                <button>Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user">
                    <a href="home_style_three.html#login" class="js-popups"><i class="li_user"></i></a>
                </div>
        </div>
    </div>
</header>
<div class="sticky-header js-sticky-header">
    <div class="container">
        <div class="main-nav-wrap">
            <div class="row">
                <nav class="main-nav">
                    <a href="home_style_three.html#aside-menu" class="c-hamburger htx js-asd-menu">
                        <span>toggle menu</span>
                    </a>
                    <ul class="main-nav-list sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                        <li class="active"><a href="home_style_three.html">news</a></li>
                        <li>
                            <a href="javascript:void(0)" class="sf-with-ul">features <i
                                    class="fa fa-angle-down"></i></a>
                            <ul class="sub" style="display: none;">
                                <li>
                                    <a href="home_style_three.html" class="sf-with-ul">Header variations</a>
                                    <ul class="sub" style="display: none;">
                                        <li><a href="home_style_five.html">Header Style One</a></li>
                                        <li><a href="home_style_two.html">Header Style Two</a></li>
                                        <li><a href="home_style_three.html">Header Style Three</a></li>
                                        <li><a href="home_style_four.html">Header Style Four</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="home_style_three.html" class="sf-with-ul">Home Page Styles</a>
                                    <ul class="sub" style="display: none;">
                                        <li><a href="index.html">Home Page Style One</a></li>
                                        <li><a href="home_style_two.html">Home Page Style Two</a></li>
                                        <li><a href="home_style_three.html">Home Page Style Three</a></li>
                                        <li><a href="home_style_four.html">Home Page Style Four</a></li>
                                        <li><a href="home_style_five.html">Home Page Style Five</a></li>
                                        <li><a href="home_style_six.html">Home Page Style Six</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="home_style_three.html" class="sf-with-ul">Category Styles</a>
                                    <ul class="sub" style="display: none;">
                                        <li><a href="category_style_one.html">Category Style One</a></li>
                                        <li><a href="category_style_two.html">Category Style Two</a></li>
                                        <li><a href="category_style_three.html">Category Style Three</a></li>
                                        <li><a href="category_style_four.html">Category Style Four</a></li>
                                        <li><a href="category_style_five.html">Category Style Five</a></li>
                                        <li><a href="category_style_six.html">Category Style Six</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="home_style_three.html" class="sf-with-ul">Featured Post layouts</a>
                                    <ul class="sub" style="display: none;">
                                        <li><a href="post_template_one.html">Post Template One</a></li>
                                        <li><a href="post_template_two.html">Post Template Two</a></li>
                                        <li><a href="post_template_three.html">Post Template Three</a></li>
                                        <li><a href="post_template_four.html">Post Template Four</a></li>
                                        <li><a href="post_template_five.html">Post Template Five</a></li>
                                        <li><a href="post_template_six.html">Post Template Six</a></li>
                                        <li><a href="post_template_seven.html">Post Template Seven</a></li>
                                        <li><a href="post_template_eight.html">Post Template Eigth</a></li>
                                        <li><a href="post_template_nine.html">Post Template Nine</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="home_style_three.html" class="sf-with-ul">Pages Design</a>
                                    <ul class="sub" style="display: none;">
                                        <li><a href="author.html">Author</a></li>
                                        <li><a href="the_team.html">The Team</a></li>
                                        <li><a href="the_team_without_sidebar.html">The Team Without Sidebar</a></li>
                                        <li><a href="contact_page_style_1.html">Contact Page Style One</a></li>
                                        <li><a href="contact_page_style_2.html">Contact Page Style Two</a></li>
                                        <li><a href="search_results.html">Search Results</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="tags.html">Tags</a></li>
                                    </ul>
                                </li>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                            </ul>
                        </li>
                        <li><a href="category_style_six.html">design</a></li>
                        <li class="mf">
                            <a href="home_style_three.html" class="sf-with-ul">life style <i
                                    class="fa fa-angle-down"></i></a>
                            <ul class="sub" style="display: none;">
                                <li>
                                    <div class="mega-menu">
                                        <div class="col-row">
                                            <div class="col-one-fifth sm-col-one-fifth cats">
                                                <ul>
                                                    <li><a href="home_style_three.html">Life Style</a></li>
                                                    <li><a href="home_style_three.html">Peoples</a></li>
                                                    <li><a href="home_style_three.html">Interiors</a></li>
                                                    <li><a href="home_style_three.html">Photography</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-four-fifths sm-col-four-fifths">
                                                <div class="mm-life-st-pst">
                                                    <div class="mm-life-st-title">
                                                        <span>Life Style</span>
                                                        <a href="home_style_three.html" class="all">all posts</a>
                                                    </div>
                                                    <div class="col-row">
                                                        <div class="col-one-quarter">
                                                            <article class="post">
                                                                <figure>
                                                                    <a href="home_style_three.html">
                                                                        <img src="{% static 'img/203x136/1.jpg' %}"
                                                                             height="136" width="203"
                                                                             alt="Spectr News Theme" class="adaptive">
                                                                    </a>
                                                                </figure>
                                                                <h6 class="title-12"><a href="home_style_three.html">But
                                                                    I must explain to you how all this mistaken</a></h6>
                                                            </article>
                                                        </div>
                                                        <div class="col-one-quarter">
                                                            <article class="post">
                                                                <figure>
                                                                    <a href="home_style_three.html">
                                                                        <img src="{% static 'img/203x136/2.jpg' %}"
                                                                             height="136" width="203"
                                                                             alt="Spectr News Theme" class="adaptive">
                                                                    </a>
                                                                </figure>
                                                                <h6 class="title-12"><a href="home_style_three.html">You
                                                                    how all this mistaken idea of denouncing</a></h6>
                                                            </article>
                                                        </div>
                                                        <div class="col-one-quarter">
                                                            <article class="post">
                                                                <figure>
                                                                    <a href="home_style_three.html">
                                                                        <img src="{% static 'img/203x136/3.jpg' %}"
                                                                             height="136" width="203"
                                                                             alt="Spectr News Theme" class="adaptive">
                                                                    </a>
                                                                </figure>
                                                                <h6 class="title-12"><a href="home_style_three.html">Midea
                                                                    of denouncing pleas ure and praising</a></h6>
                                                            </article>
                                                        </div>
                                                        <div class="col-one-quarter">
                                                            <article class="post">
                                                                <figure>
                                                                    <a href="home_style_three.html">
                                                                        <img src="{% static 'img/203x136/4.jpg' %}"
                                                                             height="136" width="203"
                                                                             alt="Spectr News Theme" class="adaptive">
                                                                    </a>
                                                                </figure>
                                                                <h6 class="title-12"><a href="home_style_three.html">Denouncing
                                                                    pleasure and praising pain was born</a></h6>
                                                            </article>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="video.html">video</a></li>
                        <li>
                            <a href="home_style_three.html" class="sf-with-ul">reviews <i class="fa fa-angle-down"></i></a>
                            <ul class="sub" style="display: none;">
                                <li><a href="review_percent_style.html">Reviews percent</a></li>
                                <li><a href="reviews_point_style.html">Reviews points</a></li>
                                <li><a href="reviews_stars_style.html">Reviews Stars</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="home_style_three.html" class="sf-with-ul">shop <i class="fa fa-angle-down"></i></a>
                            <ul class="sub" style="display: none;">
                                <li><a href="products.html">Products</a></li>
                                <li><a href="product.html">Product</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                            </ul>
                        </li>
                        <li><a href="contact_page_style_1.html">contacts</a></li>
                    </ul>
                </nav>
                <div class="hd-search">
                    <a href="home_style_three.html#search-block" class="st-btn-1 fa-flip-horizontal js-hd-search">
                        <i class="li_search"></i>
                    </a>
                    <div class="hd-search-block js-hd-search-block">
                        <div class="search">
                            <div class="search-input">
                                <input type="search" placeholder="Type keywords">
                            </div>
                            <div class="search-btn">
                                <button>Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="header-tp-3 mb-ls-hide">
    <div class="container">
        <div class="top-side">
            <div class="col-row">
                <div class="col-one-third sm-one-third">
                    <div class="left-side">
                        <div class="htp-3-social">
                            <ul class="htp-3-social-list">
                                <li class="tw">
                                    <a href="home_style_three.html">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="fb">
                                    <a href="home_style_three.html">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="gp">
                                    <a href="home_style_three.html">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li class="in">
                                    <a href="home_style_three.html">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li class="dr">
                                    <a href="home_style_three.html">
                                        <i class="fa fa-dribbble"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-one-third sm-one-third">
                    <div class="htp-3-logo">
                        <a href="http://weblionmedia.net/">
                            <img src="{% static 'img/main-logo.svg' %}" height="40" width="140" alt="Spectr News Theme" class="adaptive">
                                </a>
                            </div>
                        </div>
                        <div class=" col-one-third sm-one-third">
                            <div class="right-side">
                                <div class="htp-3-saved-art sm-hide">
                                    <i class="li_cloud"></i> saved articles (5)
                                </div>
                                <div class="htp-3-sing-login">
                                    <a href="#signin" class="js-popups">Sign in</a> / <a
                                        href="#login" class="js-popups">Join</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="bottom-side">
                <div class="htp-3-row">
                    <div class="htp-3-button">
{#                        <a href="#aside-menu" class="c-hamburger htx js-asd-menu">#}
{#                            <span>toggle menu</span>#}
{#                        </a>#}
                    </div>
                    <div class="htp-3-menu">
                        <nav class="main-nav">
                            <a href="#aside-menu" class="c-hamburger htx js-asd-menu">
                                <span>toggle menu</span>
                            </a>
                            <ul class="main-nav-list sf-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                                <li class="active"><a href="home_style_three.html">news</a></li>
                                <li class="">
                                    <a href="javascript:void(0)" class="sf-with-ul">features <i
                                            class="fa fa-angle-down"></i></a>
                                    <ul class="sub" style="display: none;">
                                        <li class="">
                                            <a href="home_style_three.html" class="sf-with-ul">Header variations</a>
                                            <ul class="sub" style="display: none;">
                                                <li><a href="home_style_five.html">Header Style One</a></li>
                                                <li><a href="home_style_two.html">Header Style Two</a></li>
                                                <li><a href="home_style_three.html">Header Style Three</a></li>
                                                <li><a href="home_style_four.html">Header Style Four</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="home_style_three.html" class="sf-with-ul">Home Page Styles</a>
                                            <ul class="sub" style="display: none;">
                                                <li><a href="index.html">Home Page Style One</a></li>
                                                <li><a href="home_style_two.html">Home Page Style Two</a></li>
                                                <li><a href="home_style_three.html">Home Page Style Three</a></li>
                                                <li><a href="home_style_four.html">Home Page Style Four</a></li>
                                                <li><a href="home_style_five.html">Home Page Style Five</a></li>
                                                <li><a href="home_style_six.html">Home Page Style Six</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="home_style_three.html" class="sf-with-ul">Category Styles</a>
                                            <ul class="sub" style="display: none;">
                                                <li><a href="category_style_one.html">Category Style One</a></li>
                                                <li><a href="category_style_two.html">Category Style Two</a></li>
                                                <li><a href="category_style_three.html">Category Style Three</a></li>
                                                <li><a href="category_style_four.html">Category Style Four</a></li>
                                                <li><a href="category_style_five.html">Category Style Five</a></li>
                                                <li><a href="category_style_six.html">Category Style Six</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="home_style_three.html" class="sf-with-ul">Featured Post layouts</a>
                                            <ul class="sub" style="display: none;">
                                                <li><a href="post_template_one.html">Post Template One</a></li>
                                                <li><a href="post_template_two.html">Post Template Two</a></li>
                                                <li><a href="post_template_three.html">Post Template Three</a></li>
                                                <li><a href="post_template_four.html">Post Template Four</a></li>
                                                <li><a href="post_template_five.html">Post Template Five</a></li>
                                                <li><a href="post_template_six.html">Post Template Six</a></li>
                                                <li><a href="post_template_seven.html">Post Template Seven</a></li>
                                                <li><a href="post_template_eight.html">Post Template Eigth</a></li>
                                                <li><a href="post_template_nine.html">Post Template Nine</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="home_style_three.html" class="sf-with-ul">Pages Design</a>
                                            <ul class="sub" style="display: none;">
                                                <li><a href="author.html">Author</a></li>
                                                <li><a href="the_team.html">The Team</a></li>
                                                <li><a href="the_team_without_sidebar.html">The Team Without Sidebar</a>
                                                </li>
                                                <li><a href="contact_page_style_1.html">Contact Page Style One</a></li>
                                                <li><a href="contact_page_style_2.html">Contact Page Style Two</a></li>
                                                <li><a href="search_results.html">Search Results</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="tags.html">Tags</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="typography.html">Typography</a></li>
                                        <li><a href="shortcodes.html">Shortcodes</a></li>
                                    </ul>
                                </li>
                                <li><a href="category_style_six.html">design</a></li>
                                <li class="mf">
                                    <a href="home_style_three.html" class="sf-with-ul">life style <i
                                            class="fa fa-angle-down"></i></a>
                                    <ul class="sub" style="display: none;">
                                        <li>
                                            <div class="mega-menu">
                                                <div class="col-row">
                                                    <div class="col-one-fifth sm-col-one-fifth cats">
                                                        <ul>
                                                            <li><a href="home_style_three.html">Life Style</a></li>
                                                            <li><a href="home_style_three.html">Peoples</a></li>
                                                            <li><a href="home_style_three.html">Interiors</a></li>
                                                            <li><a href="home_style_three.html">Photography</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-four-fifths sm-col-four-fifths">
                                                        <div class="mm-life-st-pst">
                                                            <div class="mm-life-st-title">
                                                                <span>Life Style</span>
                                                                <a href="home_style_three.html" class="all">all
                                                                    posts</a>
                                                            </div>
                                                            <div class="col-row">
                                                                <div class="col-one-quarter">
                                                                    <article class="post">
                                                                        <figure>
                                                                            <a href="home_style_three.html">
                                                                                <img src="{% static 'img/203x136/1.jpg' %}"
                                                                                     height="136" width="203"
                                                                                     alt="Spectr News Theme"
                                                                                     class="adaptive">
                                                                            </a>
                                                                        </figure>
                                                                        <h6 class="title-12"><a
                                                                                href="home_style_three.html">But I must
                                                                            explain to you how all this mistaken</a>
                                                                        </h6>
                                                                    </article>
                                                                </div>
                                                                <div class="col-one-quarter">
                                                                    <article class="post">
                                                                        <figure>
                                                                            <a href="home_style_three.html">
                                                                                <img src="{% static 'img/203x136/2.jpg' %}"
                                                                                     height="136" width="203"
                                                                                     alt="Spectr News Theme"
                                                                                     class="adaptive">
                                                                            </a>
                                                                        </figure>
                                                                        <h6 class="title-12"><a
                                                                                href="home_style_three.html">You how all
                                                                            this mistaken idea of denouncing</a></h6>
                                                                    </article>
                                                                </div>
                                                                <div class="col-one-quarter">
                                                                    <article class="post">
                                                                        <figure>
                                                                            <a href="home_style_three.html">
                                                                                <img src="{% static 'img/203x136/3.jpg' %}"
                                                                                     height="136" width="203"
                                                                                     alt="Spectr News Theme"
                                                                                     class="adaptive">
                                                                            </a>
                                                                        </figure>
                                                                        <h6 class="title-12"><a
                                                                                href="home_style_three.html">Midea of
                                                                            denouncing pleas ure and praising</a></h6>
                                                                    </article>
                                                                </div>
                                                                <div class="col-one-quarter">
                                                                    <article class="post">
                                                                        <figure>
                                                                            <a href="home_style_three.html">
                                                                                <img src="{% static 'img/203x136/4.jpg' %}"
                                                                                     height="136" width="203"
                                                                                     alt="Spectr News Theme"
                                                                                     class="adaptive">
                                                                            </a>
                                                                        </figure>
                                                                        <h6 class="title-12"><a
                                                                                href="home_style_three.html">Denouncing
                                                                            pleasure and praising pain was born</a></h6>
                                                                    </article>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="video.html">video</a></li>
                                <li>
                                    <a href="home_style_three.html" class="sf-with-ul">reviews <i
                                            class="fa fa-angle-down"></i></a>
                                    <ul class="sub" style="display: none;">
                                        <li><a href="review_percent_style.html">Reviews percent</a></li>
                                        <li><a href="reviews_point_style.html">Reviews points</a></li>
                                        <li><a href="reviews_stars_style.html">Reviews Stars</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="home_style_three.html" class="sf-with-ul">shop <i
                                            class="fa fa-angle-down"></i></a>
                                    <ul class="sub" style="display: none;">
                                        <li><a href="products.html">Products</a></li>
                                        <li><a href="product.html">Product</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact_page_style_1.html">contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="htp-3-search">
                        <div class="hd-search">
                            <a href="#search-block"
                               class="st-btn-1 fa-flip-horizontal js-hd-search">
                                <i class="li_search"></i>
                            </a>
                            <div class="hd-search-block js-hd-search-block">
                                <div class="search">
                                    <div class="search-input">
                                        <input type="search" placeholder="Type keywords">
                                    </div>
                                    <div class="search-btn">
                                        <button>Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>