<div id="mb-menu" class="mb-menu mfp-hide">
        <div class="container">
            <nav class="mobile-nav">
                <ul class="mobile-nav-list">
                    <li class="mn-item"><a href="index.html">news</a></li>
                    <li class="mn-item"><a href="javascript:void(0)">features</a></li>
                    <li class="mn-item"><a href="category_style_three.html">design</a></li>
                    <li class="mn-item"><a href="category_style_four.html">life style</a></li>
                    <li class="mn-item"><a href="video.html">video</a></li>
                    <li class="mn-item"><a href="reviews_stars_style.html">reviews</a></li>
                    <li class="mn-item"><a href="products.html">shop</a></li>
                    <li class="mn-item"><a href="contact_page_style_1.html">contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
